/* You can add global styles to this file, and also import other style files */
body {
  font-family: Roboto, Arial, sans-serif;
  margin: unset;
  padding: 24px 0; // Just top and bottom padding
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

ul.bulleted-list {
  list-style: disc;
  li {
    // TODO: Gil Note: Need to implement snazzy list styling
  }
}
