body {
  // Color palette
  --gray: #2F4858;
  --gray-dark: #383838;
  --gray-dark: #383838;
  --gray-dark-10: #1C2C35;
  --gray-dark-20: #152128;

  --blue-vivid: #1AC8ED;
  --blue-standard: #336699;
  --green: #9EE493;
  --beige-light: #F8F3DD;
  --beige: #EDDEA4;
}
